@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
body {
   background-color: #5dace9;
}
h1, h2, h3 {
    font-family: 'Archivo Narrow', sans-serif;
}
.banner {
    background-color: #0074cd;
    color: #FFF;
    height: 100px;
}
.banner h1 {
    font-size: 50px;
    line-height: 50px;
}
.main-frame {
    background-color: #FFF;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: -30px;
}

.board {
	margin: 10px;
}

.board tr td {
	height: 80px;
	width: 80px;
	font-size: 2em;
	text-align: center;
	border: 0.2px solid #ccc;
}

.win { 
	background: #DFF0D8;
}